*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    box-sizing: border-box;
}
body{
    position: relative;
    background: #eeee;
}
:root{
    --back-clr: #00000010;
    --blck-clr:#000000;
    --ligh-clr:#8282ff48;
    --blue-clr:#5a29e0;
    --hov-clr:#6c36ffaf;
    --wht-clr:#fff;
}
.box_mrk{
    transform: translateY(-80px);
    display: none;
    position: fixed;
    width: 100%;
    height: 120vh;
    z-index: 3;
    backdrop-filter: 1px ;
    background: #4949499a;
    transition: 0.5s linear;
    backdrop-filter: blur(2px);
}
#sv{
    transform: translateY(-755px);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 4;
    transition: 0.2s linear;
}
.wrap_koll{
    border: 0px solid;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrap_koll .cls{
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
}
.wrap_koll .cls:active{
    transform: scale(0.9);
}
.upper{
    background: #FFF;
    width: 540px; 
    height: fit-content;
    border-radius: 6px;
    padding: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.upper ion-icon {
    --ionicon-stroke-width: 55px;
}
.upper span{
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--blue-clr);
}
.box_ada{
    border: 0px solid;
    background: #FFF;   
    width: 600px;
    height: 550px;
    margin: 0px auto;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
    transition: 0.1s linear;
    overflow-y: scroll;
}
.box_ada::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 5px;
}
.box_ada::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.box_ada h4{
    margin-bottom: 10px;
    font-weight: 600;
}
.kol{
    border-radius: 6px;
    border: 0px solid;
    height: 83px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    transition: 0.1s linear;
}
.kol:hover{
    background: var(--back-clr);
}
.ftokol{
    border: 0px solid var(--blue-clr);
    border-radius: 5px;
    height: 70px;
    width: 90px;
    overflow: hidden;
}
.ftokol img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.jus{
    border: 0px solid;
    margin: 0px 0px 0px 10px;
}
.jus p:nth-of-type(1){
    font-weight: 600;
}
.jus p:nth-of-type(2){
    font-weight: 400;
    font-size: 1rem;
}
.set{
    border: 0px solid;
    margin-left: auto;
}
.dor{
    border: 1px solid;
    padding: 7px 20px;
    margin: 0px 0px 0px 0px;
    background: var(--blue-clr);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(0px);
}
.dar{
    border: 2px solid;
    padding: 5px 10px;
    margin: 0px 0px 0px 0px;
    background: #fff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transform: translateX(0px);
}





.repo{
    position: absolute;
    transform: translate(0px, 150px);
    border: 0px solid;
    margin: -85px auto;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    display: block;
}
.tas{
    border: 0px solid;
    width: 33%;
    height: 80%;
    margin: 0px auto;
    background: #fff;
    border-radius: 15px;
}
.oph{
    border: 0px solid;
    border-radius: 15px 15px 0px 0px; 
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-shadow: 0px 2px 2px #5555559f;
}
.oph span ion-icon{
    --ionicon-stroke-width: 35px;
    font-size: 1.8rem;
    margin-bottom: -10px;
    margin-right: 10px;
    background: var(--blue-clr);
    color: #fff;
    padding: 5px;
    border-radius: 7px;
}
.oph p{
    font-size: 1.2rem;
    font-weight: 600;
}
.reptyp{
    border: 0px solid;
    margin: 10px 0px 10px 0px;
    height: 75%;
    overflow-y: scroll;
}
.reptyp::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 5px;
}
.reptyp::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.lapor{
    border: 0px solid;
    width: 93%;
    height: fit-content;
    margin: 10px auto;
    padding: 10px;
    background: #eeee;
    border-radius: 5px;
}
.crew{
    position: relative;
    display: flex;
    border: 0px solid;
    padding: 0px 0px 0px 35px;
}
.sot{
    border: 2px solid var(--blue-clr);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -10px;
    left: -12px;
    transition: 0.2s linear;
}
.crew p{
    font-weight: 600;
}
[type="radio"]:checked + label{
    border: 10px solid var(--blue-clr);
}
.dek{
    border: 0px solid;
    font-size: 0.7rem;
    margin: 5px 0px 0px 35px;
}
.boh{
    width: 100%;
    border: 0px solid;
    display: flex;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px -2px 2px #5555559f;
}
.tk{
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid;
    background: #eeee;
    color: black;
    padding: 3px 15px;
    border-radius: 4px;
    margin: 2px 0px 0px 25px;
    cursor: pointer;
}
.stran{
    position: relative;
    font-size: 1.1rem;
    margin-top: 2px;
    font-weight: 500;
    border: 2px solid black;
    top: -9px;
    left: 180px;
    background: var(--blue-clr);
    color: #fff;
    padding: 3px 15px;
    border-radius: 4px;
}




.pop{
    transform: translateY(-800px);
    position: fixed;
    border: 0px solid;
    width: 100%;
    height: 99vh;
    z-index: 3;
    transition: 0.2s linear;
}
.pop .cls{
    position: absolute;
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transform: translate(165px, 90px);
    transition: 0.2s linear;
}
.pop .cls:active{
    transform: scale(0.9) translate(185px, 105px);
}
.view{
    border: 0px solid;
    width: 900px;
    height: 500px;
    margin: 90px auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
}
.popfto{
    border: 0px solid;
    width: 95%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    padding:8px;
    background: #EEEE;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.wrp_img{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 0px 5px 0px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.wrp_img:hover .title{
    opacity: 0;
}
.wrp_img::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 3px;
}
.wrp_img::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.wrp_img img{
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.wrp_img .title{
    position: absolute;
    border: 0px solid;
    background: #fff;
    opacity: 0.9;
    width: 430px;
    height: fit-content;
    top: 14.5%;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 1px 2px 3px #00000035;
    transition: 0.2s linear;
    padding: 10px;
}
.wrp_img .title:hover{
    opacity: 1;
}
.title .jdl{
    font-size: 1.5rem;
    font-weight: 500;
}
.title .soko{
    position: absolute;
    cursor: pointer;
    transform: translate(390px, -30px);
}
.title .siu{
    position: absolute;
    cursor: pointer;
    display: none;
    border: 1px solid;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    transform: translate(285px, -35px);
}
.title .desk{
    margin-bottom: 25px;
}
.title .sup{
    transform: translate(210px, -15px);
}
.loy{
    position: absolute;
    font-size: 0.7rem;
    z-index: 1;
    width: fit-content;
    transform: translate(135px, -15px);
}
.poptx{
    border: 0px solid;
    width: 95%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.act{
    border: 0px solid;
    width: 100%;
    height: 70px;
    padding: 0px 9px;
    display: flex;
    border-radius: 0px 10px 0px 0px;
    align-items: center;
    justify-content: end;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.288);
}
.bypos{
    border: 0px solid;
    width: 340px;
    height: 60px;
    margin: 0px 15px 0px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bypos .ftopos{
    border: 2px solid var(--blue-clr);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.ftopos img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.nmepos{
    border: 0px solid;
    width: 80%;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}
.nmepos p:nth-of-type(1){
    font-size: 1.1rem;
    font-weight: 600;
}
.nmepos p:nth-of-type(2){
    font-size: 0.8rem;
    font-weight: 400;
}
.act .save{
    border: 0px solid;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save .cek{
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.2s;
}
.act .lik{
    border: 0px solid;
    border-radius: 10%;
    cursor: pointer;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lik p{
    color: var(--blue-clr);
    font-weight: 600;
}
.lik .like{
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.2s;
}
.showkom{
    margin: 5px 0px 0px 0px;
    border: 0px solid;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
}
.showkom::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 3px;
}
.showkom::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.komen{
    border: 0px solid;
    height: fit-content;
    margin-bottom: 10px;
    padding: 8px;
    background: #EEEE;
    border-radius: 5px;
    display: flex;
}
.kofto{
    border: 2px solid var(--blue-clr);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.kofto img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.kom{
    border: 0px solid;
    position: relative;
    width:80%;
    padding: 0px 15px;
}

.kom p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    border: 0px solid;
    width: 290px;
}
.kom .sono{
    position: absolute;
    transform: translate(310px, -30px);
    cursor: pointer;
}
.kom .si{
    border: 1px solid;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    transform: translate(210px, -30px);
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.kom .si:hover{
    background: #eeee;
}
.kom p:nth-of-type(2){
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.senko{
    border: 0px solid;
    height: 75px;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.171);
}
.send{
    font-size: 1.2rem;
    background: #EEEE;
    padding: 8px 10px;
    width: 360px;
    border-radius: 5px;
    border: none;
}
.send:focus{
    outline: 2px solid var(--blue-clr);
}
.btngo{
    border: 1px solid;
    color: #fff;
    background: var(--blue-clr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 7px;
    transform: translate(370px, -1px);
    cursor: pointer;
}




.wrapl{
    transform: translateY(-800px);
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    z-index: 4;
    transition: 0.2s linear;
    display: block;
    align-items: center;
    justify-content: center;
}
.wrap_kol{
    border: 0px solid;
    margin: 130px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrap_koll{
    border: 0px solid;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cls{
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
}
.cls:active{
    transform: scale(0.9);
}
.upper{
    background: #FFF;
    width: 540px; 
    height: fit-content;
    border-radius: 6px;
    padding: 2px 0px 2px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.upper ion-icon {
    --ionicon-stroke-width: 45px;
}
.upper span{
    margin-top: 6px;
    font-size: 1.8rem;
    color: var(--blue-clr);
}
.box_add{
    border: 0px solid;
    background: #FFF;
    width: 600px;
    height: fit-content;
    margin: 0px auto;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
    transition: 0.1s linear;
}
.los{
    margin: 10px 0px 20px 0px;
    min-width: 100%;
    max-width: 100%;
    max-height: 70px;
    font-size: 1.1rem;
    padding: 4px 5px;
    border-radius: 4px;
    border: 1px solid;
}
.los:focus{
    outline: 2px solid var(--blue-clr);
    border: 0px solid;
}
.wei{
    margin-top: -10px;
    font-weight: 300;
    font-size: 1rem;
}
.crt{
    display: block;
    margin: 20px auto;
    padding: 5px 100px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.crt:active{
    transform: scale(0.9);
    background: var(--blue-clr);
    color: #fff;
}





.nav{
    position: fixed;
    background-color: #fff;
    border: 0px solid;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 30px;
    padding: 0px 15px;
    margin-top: -70px;
    transition: box-shadow 0.3s ease;
}
.shadow{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.144);
}
.logo{
    border: 0px solid;
    height: 60%;
    width: 4%;
    font-size: 2.1rem;
    text-align: center;
    color: var(--blue-clr);
}
.brn{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--blck-clr);
    display: flex;
    align-items: center;
}
.brn span{
    font-size: 2rem;
    font-weight: 800;
    margin: 10px 0px 0px 10px;
    color: var(--blue-clr);
}
label{
    position: absolute;
    font-size: 1.5rem;
    transform: translate(15px, 9px);
    color:rgba(0, 0, 0, 0.397);
}
#src{
    padding: 10px 15px 10px 45px;
    width: 755px;
    font-size: 1.1rem;
    border: none;
    background: var(--back-clr);
    border-radius: 50px;
    transition: 0.1s linear;
}
#src:focus{
    outline: 3px solid var(--blue-clr);
    border: 0px solid var(--blue-clr);
}
.prf{
    text-decoration: none;
    border: 2px solid var(--blue-clr);
    color: var(--blck-clr);
    background:#fff;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.prf img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.shadow{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.144);
}

.container {
    width: 1300px;
    margin: 15px auto;
    columns: 5;
    column-gap: 30px;
}
.container .box {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden; 
}
.container .box .pic{
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    transition: 0.2s; 
}
.container .box img {
    max-width: 100%;
    border-radius: 15px;
    transition: 0.1s linear;
}
.container .box:hover .ghst{
    display: block;
}
.container .box:hover .pic{
    display: block;
}
.container .box:hover img{
    transform: scale(1.1);
}
.container .box .ghst {
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transition: 0.2s; 
}
.asos{
    border: 0px solid;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px 10px;
}
.asos .fa{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.asos .save{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.like{
    -webkit-text-stroke: 1px var(--blue-clr); 
    color: #eeeeee00; 
}
.cek{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.cok{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.fu{
    color:var(--blue-clr);
    -webkit-text-stroke: 0px black;  
}

.save:hover, .like:hover{
    background: #ffffffee;
}

.open{
    width: 100%;
    height: 240px;
    background: #fff;
    margin: 70px 0px 0px 0px;
}
.cont{
    padding: 10px 0px 0px 0px;
    border: 0px solid;
    width: 70%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
}
.cont span ion-icon {
    border: 0px solid;
    padding: 10px;
    font-size: 50px;
    color: var(--blue-clr);
    --ionicon-stroke-width: 40px;
    border-radius: 7px;
    transition: 0.2s linear;
}
.cont span ion-icon:hover{
    background: #eeee;
}
.cont p{
    border: 0px solid;
    height: 60px;
}
.coi{
    border: 0px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.coi ion-icon{
    border: 1px solid;
    --ionicon-stroke-width: 40px;
    font-size: 25px;
    padding: 6px 6px 8px 8px;
    border-radius:5px;
    background: var(--blue-clr);
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
}
.coi a ion-icon{
    border: 1px solid;
    --ionicon-stroke-width: 40px;
    font-size: 25px;
    padding: 6px 7px 8px 8px;
    border-radius:5px;
    background: red;
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
}
.coi ion-icon:active{
    transform: scale(0.9);
}



.container {
    width: 1300px;
    margin: 15px auto;
    columns: 5;
    column-gap: 30px;
}
.container .box {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden; 
}
.container .box .pic{
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    transition: 0.2s; 
}
.container .box img {
    max-width: 100%;
    border-radius: 15px;
    transition: 0.1s linear;
}
.container .box:hover .ghst{
    display: block;
}
.container .box:hover .pic{
    display: block;
}
.container .box:hover img{
    transform: scale(1.1);
}
.container .box .ghst {
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transition: 0.2s; 
}
.asos{
    border: 0px solid;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px 10px;
}
.asos .fa{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.asos .save{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.like{
    -webkit-text-stroke: 1px var(--blue-clr); 
    color: #eeeeee00; 
}
.cek{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.cok{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.fu{
    color:var(--blue-clr);
    -webkit-text-stroke: 0px black;  
}

.save:hover, .like:hover{
    background: #ffffffee;
}