*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    box-sizing: border-box;
}
body{
    position: relative;
    background: #eeee;
}
:root{
    --back-clr: #00000010;
    --blck-clr:#000000;
    --ligh-clr:#8282ff48;
    --blue-clr:#5a29e0;
    --hov-clr:#6c36ffaf;
    --wht-clr:#fff;
}

.nav{
    position: fixed;
    background-color: #fff;
    border: 0px solid;
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 30px;
    padding: 0px 15px;
    margin-top: -75px;
    transition: box-shadow 0.3s ease;
}
.shadow{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.144);
}
.logo{
    border: 0px solid;
    height: 60%;
    width: 4%;
    font-size: 2.1rem;
    text-align: center;
    color: var(--blue-clr);
}
.brn{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--blck-clr);
    display: flex;
    align-items: center;
}
.brn span{
    font-size: 2rem;
    font-weight: 800;
    margin: 10px 0px 0px 10px;
    color: var(--blue-clr);
}
label{
    position: absolute;
    font-size: 1.5rem;
    transform: translate(15px, 9px);
    color:rgba(0, 0, 0, 0.397);
}
#src{
    padding: 10px 15px 10px 45px;
    width: 765px;
    font-size: 1.1rem;
    border: none;
    background: var(--back-clr);
    border-radius: 50px;
    transition: 0.1s linear;
}
#src:focus{
    outline: 3px solid var(--blue-clr);
    border: 0px solid var(--blue-clr);
}
.prf{
    text-decoration: none;
    border: 2px solid var(--blue-clr);
    color: var(--blck-clr);
    background:#fff;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.prf img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}



#sv{
    transform: translateY(-755px);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 4;
    transition: 0.2s linear;
}
.wrap_sv{
    border: 0px solid;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrap_sv .cls{
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
}
.wrap_sv .cls:active{
    transform: scale(0.9);
}

.up_sv{
    background: #FFF;
    width: 540px; 
    height: fit-content;
    border-radius: 6px;
    padding: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.up_sv ion-icon {
    --ionicon-stroke-width: 55px;
}
.up_sv span{
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--blue-clr);
}
.box_sv{
    border: 0px solid;
    background: #FFF;   
    width: 600px;
    height: 550px;
    margin: 0px auto;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
    transition: 0.1s linear;
    overflow-y: scroll;
}
.box_sv::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 5px;
}
.box_sv::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.box_sv h4{
    margin-bottom: 10px;
    font-weight: 600;
}
.kol{
    border-radius: 6px;
    border: 0px solid;
    height: 83px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    transition: 0.1s linear;
}
.kol:hover{
    background: var(--back-clr);
}
.ftokol{
    border: 0px solid var(--blue-clr);
    border-radius: 5px;
    height: 70px;
    width: 90px;
    overflow: hidden;
}
.ftokol img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.jus{
    border: 0px solid;
    margin: 0px 0px 0px 10px;
}
.jus p:nth-of-type(1){
    font-weight: 600;
}
.jus p:nth-of-type(2){
    font-weight: 400;
    font-size: 1rem;
}
.set{
    border: 0px solid;
    margin-left: auto;
}
.dor{
    border: 1px solid;
    padding: 7px 20px;
    margin: 0px 0px 0px 0px;
    background: var(--blue-clr);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(0px);
}
.dar{
    border: 2px solid;
    padding: 5px 10px;
    margin: 0px 0px 0px 0px;
    background: #fff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transform: translateX(0px);
}



.pop{
    transform: translateY(-800px);
    position: fixed;
    border: 0px solid;
    width: 100%;
    height: 99vh;
    z-index: 3;
    transition: 0.2s linear;
}
.pop .cls{
    position: absolute;
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transform: translate(165px, 90px);
    transition: 0.2s linear;
}
.pop .cls:active{
    transform: scale(0.9) translate(185px, 105px);
}
.view{
    border: 0px solid;
    width: 900px;
    height: 500px;
    margin: 90px auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
}
.popfto{
    border: 0px solid;
    width: 95%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    padding:8px;
    background: #EEEE;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.wrp_img{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 0px 5px 0px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.wrp_img:hover .title{
    opacity: 0;
}
.wrp_img::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 3px;
}
.wrp_img::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.wrp_img img{
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.wrp_img .title{
    position: absolute;
    border: 0px solid;
    background: #fff;
    opacity: 0.9;
    width: 430px;
    height: fit-content;
    top: 14.5%;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 1px 2px 3px #00000035;
    transition: 0.2s linear;
    padding: 10px;
}
.wrp_img .title:hover{
    opacity: 1;
}
.title .jdl{
    font-size: 1.5rem;
    font-weight: 500;
}
.title .soko{
    position: absolute;
    cursor: pointer;
    transform: translate(390px, -30px);
}
.title .siu{
    position: absolute;
    cursor: pointer;
    display: none;
    border: 1px solid;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    transform: translate(270px, -35px);
}
.title .desk{
    margin-bottom: 25px;
}
.title .sup{
    transform: translate(230px, -15px);
}
.loy{
    position: absolute;
    font-size: 0.7rem;
    z-index: 1;
    width: fit-content;
    transform: translate(150px, -15px);
}
.poptx{
    border: 0px solid;
    width: 95%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.act{
    border: 0px solid;
    width: 100%;
    height: 70px;
    padding: 0px 9px;
    display: flex;
    border-radius: 0px 10px 0px 0px;
    align-items: center;
    justify-content: end;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.288);
}
.bypos{
    border: 0px solid;
    width: 340px;
    height: 60px;
    margin: 0px 15px 0px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bypos .ftopos{
    border: 2px solid var(--blue-clr);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.ftopos img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.nmepos{
    border: 0px solid;
    width: 80%;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}
.nmepos p:nth-of-type(1){
    font-size: 1.1rem;
    font-weight: 600;
}
.nmepos p:nth-of-type(2){
    font-size: 0.8rem;
    font-weight: 400;
}
.act .save{
    border: 0px solid;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save .cek{
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.2s;
}
.act .lik{
    border: 0px solid;
    border-radius: 10%;
    cursor: pointer;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lik p{
    color: var(--blue-clr);
    font-weight: 600;
}
.lik .like{
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.2s;
}
.showkom{
    margin: 5px 0px 0px 0px;
    border: 0px solid;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
}
.showkom::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 3px;
}
.showkom::-webkit-scrollbar-thumb{
    background: var(--blue-clr);
    border-radius: 10px;
}
.komen{
    border: 0px solid;
    height: fit-content;
    margin-bottom: 10px;
    padding: 8px;
    background: #EEEE;
    border-radius: 5px;
    display: flex;
}
.kofto{
    border: 2px solid var(--blue-clr);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.kofto img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.kom{
    border: 0px solid;
    position: relative;
    width:80%;
    padding: 0px 15px;
}

.kom p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    border: 0px solid;
    width: 290px;
}
.kom .sono{
    position: absolute;
    transform: translate(310px, -30px);
    cursor: pointer;
}
.kom .si{
    border: 1px solid;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    transform: translate(210px, -30px);
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.kom .si:hover{
    background: #eeee;
}
.kom p:nth-of-type(2){
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.senko{
    border: 0px solid;
    height: 75px;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.171);
}
.send{
    font-size: 1.2rem;
    background: #EEEE;
    padding: 8px 10px;
    width: 360px;
    border-radius: 5px;
    border: none;
}
.send:focus{
    outline: 2px solid var(--blue-clr);
}
.btngo{
    border: 1px solid;
    color: #fff;
    background: var(--blue-clr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 7px;
    transform: translate(370px, -1px);
    cursor: pointer;
}



.box_prof{
    margin: 75px auto 0px auto;
    background: #fff;
    border: 0px solid;
    height: 240px;
    width: 65%;
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 10px 45px;
    gap: 0px;
}
.foto{
    border: 3px solid var(--blue-clr);
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin: 0px 60px 0px 0px;
}
.foto img{
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.txet{
    padding: 5px;
    border: 0px solid;
    height: 95%;
    width: 590px;
    margin: 0px 0px 0px 0px;
}
.txet p:nth-of-type(1){
    font-size: 1.4rem;
    font-weight: 500;
}
.txet p:nth-of-type(2){
    font-size: 1rem;
    font-weight: 400;
}
.p{
    font-size: 1rem;
    font-weight: 400;
    border: 0px solid;
    overflow-wrap: break-word;
    
}
.jml{
    border-top: 0px solid var(--blue-clr);
    display: flex;
    align-items: center;
    gap: 30px;
}
.jl{
    border: 0px solid;
    padding: 10px 10px 10px 0px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.dit{
    position: absolute;
    border: 2px solid;
    align-items: center;
    display: flex;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    transform: translate(480px,96px);
    cursor: pointer;
    transition: 0.3s linear;
}
.dit:hover{
    border: 2px solid var(--blue-clr);
}
.log{
    position: absolute;
    border: 2px solid black;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: 4px;
    background: var(--blue-clr);
    color: #fff;
    display: flex;
    align-items: center;
    transform: translate(480px,-70px);
}
.log ion-icon{
    --ionicon-stroke-width: 45px;
    font-size: 1.2rem;
    margin-left: 5px;
}
h4{
    margin-top: 10px;
    font-weight: 500;
}




.box_img{
    margin: 25px auto;
    background: #fff;
    border: 0px solid;
    height: fit-content;
    width: 65%;
    border-radius: 9px;
    padding: 15px;
}
.btn_lod{
    border: 0px solid;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.po{
    position: relative;
    border-bottom: 0px solid;
    width: 25%;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 0px;
    border-radius: 5px 5px 0px 0px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    cursor: pointer;
}
.po::after{
    content: '';
    position: absolute;
    border: 1.5px solid;
    top: 50px;
    width: 200px;
    border-radius: 10px;
}
.po:hover{
    background: #eeee;
}
.po span{
    margin: 5px 10px 0px 0px;
}
#btn1{
    color: var(--blue-clr);
}




.btnwrp{
    margin: 20px auto;
    border: 0px solid;
    padding: 0px 40px 0px 0px;
    gap: 10px;
    display: flex;
    justify-content: end;
}
.op{
    border: 1px solid;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 4px 15px;
    border-radius: 5px;
    transition: 0.1s linear;
    cursor: pointer;
}
.op:active{
    transform: scale(0.9);
}
.lis{
    background: var(--blue-clr);
    color: #fff;
    border: 2px solid black;
}
#pul{
    display: none;
}
.tal{
    display: none;
    color: var(--blue-clr);
    border: 2px solid var(--blue-clr);
}
.del{
    display: none;
    background: red;
    color: #fff;
    border: 2px solid black;
}
.container{
    width: 800px;
    margin: 0px auto;
    columns: 3;
    column-gap: 30px;
}
.container .box {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden; 
}
.container .box img{
    max-width: 100%;
    border-radius: 15px;
}
.roy{
    display: none;
    position: absolute;
    transform: translate(10px, -45px);
    border: 0px solid;
}

.roy::after{
    content: '';
    position: absolute;
    border: 0px solid;
    width: 35px;
    height: 35px;
    background: #fff;
    z-index: -1;
    border-radius: 10px;
    transform: translate(-42px,-2px);
}
.op:hover .roy::after{
    background: var(--blue-clr);
}
.container .box .pic{
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    transition: 0.2s; 
}
.container .box img {
    max-width: 100%;
    border-radius: 15px;
    transition: 0.1s linear;
}
.container .box:hover .ghst{
    display: block;
}
.container .box:hover .pic{
    display: block;
}
.container .box:hover img{
    transform: scale(1.1);
}
.container .box .ghst {
    position: absolute;
    border-radius: 15px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transition: 0.2s; 
}
.asos{
    border: 0px solid;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px 10px;
}
.asos .fa{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.asos .save{
    border: 0px solid;
    background: #eeeeeece;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.like{
    -webkit-text-stroke: 1px var(--blue-clr); 
    color: #eeeeee00; 
}
.cek{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.cok{
    -webkit-text-stroke: 1px black; 
    color: #eeeeee00; 
}
.fu{
    color:var(--blue-clr);
    -webkit-text-stroke: 0px black;  
}

.save:hover, .like:hover{
    background: #ffffffee;
}





.containerr{
    position: relative;
    display: none;
    width: 800px;
    margin: 40px 0px 0px 40px;
    columns: 3;
    column-gap: 30px;
}
.add_mrk{
    position: absolute;
    width: fit-content;
    border: 2px solid;
    padding: 5px 15px;
    transform: translate(670px, -60px);
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s linear;
    cursor: pointer;
}
.add_mrk:hover{
    border: 2px solid var(--blue-clr);
}
.add_mrk:hover span{
    color: var(--blue-clr);
}
a{
    text-decoration: none;
}
.containerr .wrap_boxx{
    break-inside:avoid;
    width: 230px;
    height: fit-content;
    color: black;
    border-radius: 6px;
    border: 0px solid;
    margin-bottom: 30px;
    box-shadow: 5px 5px 4px var(--back-clr);   
}
.boxx{
    height: 230px;
    width: 100%;
    border: 1px solid #eeee;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.3fr);
    gap: 2px;
    overflow: hidden;
    border-radius: 6px;
}
.tra{
    text-align: center;
    padding: 0px 0;
    font-size: 30px;
    border: 0px solid var(--blue-clr);
}
.tra img{
    max-width: 100%;
    min-height: 100%;
}
.tra img{
    max-width: 100%;
    min-height: 100%;
}
.tra:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
}
.tit{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 0px 14px 20px;
}





.box_mrk{
    transform: translateY(-80px);
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    z-index: 3;
    backdrop-filter: 1px ;
    background: #4949499a;
    transition: 0.5s linear;
    backdrop-filter: blur(2px);
}

.edpro{
    transform: translateY(-800px);
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    z-index: 4;
    transition: 0.2s linear;
}

.wrapl{
    transform: translateY(-800px);
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    z-index: 4;
    transition: 0.2s linear;
    display: block;
    align-items: center;
    justify-content: center;
}
.wrap_kol{
    border: 0px solid;
    margin: 130px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrap_koll{
    border: 0px solid;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cls{
    padding: 12px 20px;
    background: var(--blue-clr);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
}
.cls:active{
    transform: scale(0.9);
}
.upper{
    background: #FFF;
    width: 540px; 
    height: fit-content;
    border-radius: 6px;
    padding: 2px 0px 2px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.upper ion-icon {
    --ionicon-stroke-width: 45px;
}
.upper span{
    margin-top: 6px;
    font-size: 1.8rem;
    color: var(--blue-clr);
}
.box_add{
    border: 0px solid;
    background: #FFF;
    width: 600px;
    height: fit-content;
    margin: 0px auto;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
    transition: 0.1s linear;
}
#ox{
    height: 600px;
}

.ftopro{
    margin: 0px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--blue-clr);
    overflow: hidden;
}
.ftopro img{
    max-width: 150px;
    min-height: 150px;
}
.tu{
    position: absolute;
    border: 0px solid black;
    color: #fff;
    background: var(--blue-clr);
    padding: 2px 6px 0px 6px;
    border-radius: 5px;
    font-size: 20px;
    transform: translate(315px, -40px);
    cursor: pointer;
}

p{
    font-weight: 500;
}
.had{
    border-bottom: 2px solid var(--blue-clr);
    padding:0px 0px 5px 10px;
    margin: 20px 0px 0px 0px;
    font-size: 1.2rem;
    display: flex;
}
.cil{
    border: 1px solid black;
    color: #fff;
    border-radius: 4px;
    background: var(--blue-clr);
    font-size: 1rem;
    font-weight: 500;
    height: fit-content;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px 0px 0px 350px;
}
.inp{
    margin: 20px 0px 0px 0px;
    border: 0px solid;
    display: flex;
    font-size: 1.1rem;
}
.inpp{
    margin: 10px 0px 0px 0px;
    border: 0px solid;
    display: flex;
    gap: 30px;
}
.inppp{
    margin: 20px 0px 0px 0px;
    border: 0px solid;
}
.inppp p{
    margin-bottom: 10px;
}
.inppp textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 62px;
    max-height: 62px;
}
.put{
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 1.1rem;
    text-align: start;
}
.tx{
    margin: 10px 0px 0px 0px;
    padding: 0px 10px;
}
.tx p{
    font-weight: 400;
}
input[type="submit"]{
    background: var(--blue-clr);
    margin: 15px 0px 0px 0px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 0px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}



.los{
    margin: 10px 0px 20px 0px;
    min-width: 100%;
    max-width: 100%;
    max-height: 70px;
    font-size: 1.1rem;
    padding: 4px 5px;
    border-radius: 4px;
    border: 1px solid;
}
.los:focus{
    outline: 2px solid var(--blue-clr);
    border: 0px solid;
}
.wei{
    margin-top: -10px;
    font-weight: 300;
    font-size: 1rem;
}
.crt{
    display: block;
    margin: 20px auto;
    padding: 5px 100px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.crt:active{
    transform: scale(0.9);
    background: var(--blue-clr);
    color: #fff;
}
